<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="desktopPath" value="C:\Users\vantonenko\Desktop"/>
    <add key="filesToRemove" value="MyLX;SDLHUB;HRGlobal;Service Centre;SDL Hub;HR Global"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>